set_io Tile_X11Y1_A Tile_X11Y1.A
set_io Tile_X11Y1_B Tile_X11Y1.B
set_io Tile_X11Y1_C Tile_X11Y1.C
set_io Tile_X11Y1_D Tile_X11Y1.D
set_io Tile_X11Y1_E Tile_X11Y1.E
set_io Tile_X11Y1_F Tile_X11Y1.F
set_io Tile_X11Y1_G Tile_X11Y1.G
set_io Tile_X11Y1_H Tile_X11Y1.H
set_io Tile_X11Y1_I Tile_X11Y1.I
set_io Tile_X11Y1_J Tile_X11Y1.J
set_io Tile_X11Y1_K Tile_X11Y1.K
set_io Tile_X11Y2_A Tile_X11Y2.A
set_io Tile_X11Y2_B Tile_X11Y2.B
set_io Tile_X11Y2_C Tile_X11Y2.C
set_io Tile_X11Y2_D Tile_X11Y2.D
set_io Tile_X11Y2_E Tile_X11Y2.E
set_io Tile_X11Y2_F Tile_X11Y2.F
set_io Tile_X11Y2_G Tile_X11Y2.G
set_io Tile_X11Y2_H Tile_X11Y2.H
set_io Tile_X11Y2_I Tile_X11Y2.I
set_io Tile_X11Y2_J Tile_X11Y2.J
set_io Tile_X11Y2_K Tile_X11Y2.K